  
body {text-align:center}

.btn {
  display       : inline-block;
  border-radius : 10%;          /* 角丸       */
  font-size     : 17pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 100px;   /* 余白       */
  background    : #00aaff;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  }


  .button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
  }

  .abc {
      text-align: left;
  }
